<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>

SPDX-License-Identifier: AGPL-3.0-only
-->

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <file>/var/log/carbonio/files/carbonio-files.log</file>
  </appender>

  <!-- To log generated queries-->
  <!-- <logger name="io.ebean.DDL" level="TRACE"/>-->
  <!-- <logger name="io.ebean.SQL" level="TRACE"/>-->
  <!-- <logger name="io.ebean.TXN" level="TRACE"/>-->
  <!-- <logger name="io.ebean" level="TRACE"/> -->

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>