# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Files daemon
Wants=network.target
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/zextras/common/bin/java \
  -Djava.net.preferIPv4Stack=true \
  -Xmx4096m \
  -Xms4096m \
  -DFILES_LOG_LEVEL=warn \
  -jar /usr/share/carbonio/files/carbonio-files.jar
User=carbonio-files
Group=carbonio-files
Restart=on-failure
RestartSec=15
TimeoutSec=60
TimeoutStopSec=120


[Install]
WantedBy=multi-user.target
