# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Files sidecar proxy
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
User=carbonio-files
Type=simple
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/carbonio/files/service-discover/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-files
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target