# SPDX-FileCopyrightText: 2022 Zextras <https://www.zextras.com>
#
# SPDX-License-Identifier: AGPL-3.0-only

[Unit]
Description=Carbonio Files daemon
Wants=network.target
Requires=network-online.target
After=network-online.target
PartOf=carbonio.target

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/zextras/common/bin/java \
  --enable-preview \
  --enable-native-access=ALL-UNNAMED \
  -Djava.net.preferIPv4Stack=true \
  -Xmx4096m \
  -Xms4096m \
  -DFILES_LOG_LEVEL=warn \
  -jar /usr/share/carbonio/carbonio-files.jar
User=carbonio-files
Group=carbonio-files
Restart=on-failure
RestartSec=15s
TimeoutStartSec=120s
TimeoutStopSec=120s


[Install]
WantedBy=multi-user.target
